footer.footer
   .container
      p.text-muted
         = title
         if sunrisesunset.show
            span.footer-header Sunrise:
            span.footer-value #{sunrisesunset.sunrise}
            span.text-muted Sunset:
            span.footer-value #{sunrisesunset.sunset}
      p.text-muted 
         | Source code available on
         | 
         a(href="https://github.com/gsirhc/NodeWebcamServer") GitHub