extends layout

block content
  h1= title
  img(src='/image').img-responsive

  a(href='/image') Image Only

  if settings.AllowRefreshNow     
     | &nbsp;|&nbsp;
     a(href="/refresh") Refresh
  if settings.EnableTimelapse
     | &nbsp;|&nbsp;
     a(href="/timelapse") Time Lapse
  if sunrisesunset.show
     table
        tr
           td Current Time:
           td #{sunrisesunset.current}
        tr
           td Sunrise:
           td #{sunrisesunset.sunrise}
        tr
           td Sunset:
           td #{sunrisesunset.sunset}
