extends layout

block content
  h4= title
  
  p
     img(src='/image').img-responsive

  a(href='/image') Image Only
  if settings.AllowRefreshNow     
     | &nbsp;|&nbsp;
     a(href="/refresh") Refresh
  if settings.EnableTimelapse
     | &nbsp;&nbsp;&nbsp;
     | Time Lapse:
     | &nbsp;
     a(href="/timelapse") Full
     | &nbsp;|&nbsp;
     a(href="/timelapse?reduce=2") Reduced Half
     | &nbsp;|&nbsp;
     a(href="/timelapse?reduce=3") Reduced Third
     | &nbsp;|&nbsp;
     a(href="/timelapse?reduce=4") Reduced Quarter 
  if sunrisesunset.show
     table
        tr
           td Current Time:
           td #{sunrisesunset.current}
        tr
           td Sunrise:
           td #{sunrisesunset.sunrise}
        tr
           td Sunset:
           td #{sunrisesunset.sunset}
