extends layout

block page-head
   link(rel='stylesheet', href='/stylesheets/timelapse.css')

block content
   .timelapse-container
      .carousel(id="carousel-timelapse", data-ride="carousel", data-interval="100")
         .carousel-inner(role="listbox")
            each file, index in images
               .item(class=index === 0 ? "active" : "")
                  img(src="#{file.filePath}").timelapse-image.img-responsive
                  span #{file.timeStr}
