extends layout

block page-head
   link(rel='stylesheet', href='/stylesheets/timelapse.css')

block content
   .timelapse-container
      .carousel(id="carousel-timelapse", data-ride="carousel", data-interval="100")
         ol(class="carousel-indicators")
            each index in images
               li(data-target="#carousel-timelapse" data-slide-to="#{index}", class="active")
         .carousel-inner(role="listbox")
            each file, index in images
               .item(class=index === 0 ? "active" : "")
                  .timelapse-image
                     img(src="timelapse/#{file.filePath}").img-responsive.center-block
                     span #{file.timeStr}
