extends layout

block page-head
   link(rel='stylesheet', href='/stylesheets/timelapse.css')

block content
   .timelapse-container
      each file in imageFiles
         img(src="#{file}").timelapse-image