/*.timelapse-container {
    display: inline-block;
}

.timelapse-image {
    position:relative;    
    margin: 10px;
    padding: 1px;
    border: solid #000 1px;
    width: 15%;
}

.timelapse-image:hover {
    width: 20%;
    position: absolute;
    top: 0;
    z-index: 999;
}*/