.timelapse-container {
    padding: 5;
}

.timelapse-image {
    padding: 1px;
    border: solid #000 1px;
}
/*
.timelapse-image:hover {
    width: 20%;
    position: absolute;
    top: 0;
    z-index: 999;
}*/