.timelapse-container {
    padding: 5;
}

.timelapse-image {
    padding: 1px;
    text-align: center;
}

.carousel {
    width: 100%
}

.carousel-indicators {
  bottom:-70px;
}

.carousel-indicators li {
    height: 5px;
    width: 5px !important;
    background-color: black !important;
}

.carousel-indicators active {
    height: 5px !important;
    width: 5px !important;
}